*{ /*estandarizar margin y padding*/
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; /*para que respete siempre los valores= px que le damos*/
}


header{
    background-color: rgb(17, 17, 17);
}

body{
    background-color: black;
}

section{
    margin-top: 25px; /*separa los parrafos */
}

.links{
    color: white;
}

/*----------pseudoclases----------*/
.links:hover{
    color: rgb(50, 243, 43);
}



/*contenedor límite*/

.contenedor_limite{
background-color: rgb(17, 17, 17);
margin: 0 auto; /*centrar la card con el fondo*/
max-width: 700px;
text-align: center;
padding: 20px;
border: 1px solid;
border-radius: 25px;
}


/*estilos de la card*/
.card { /*card principal--------*/
width: 300px; /*ancho de imagen*/
background-color: white;
padding: 20px;
text-align: center;
border-radius: 25px;
margin-top: 50px;
margin-left: 170px; /*centrar*/
margin-bottom: 30px; /*espacio entre la card y los parrafos de arriba y abajo*/

}

.cards2{ /*cards de abajo-------*/
width: 300px; /*ancho de imagen*/
background-color: white;
padding: 20px;
text-align: center;
border-radius: 5px;
margin-top: 50px;
margin-left: 10px; /*centrar*/
margin-bottom: 30px; /*espacio entre la card y los parrafos de arriba y abajo*/
border-radius: 25px;
}


.card h2 {
    font-size: 25px;

}

h2{
    color: white;
}

.color { /*color de los parrafos*/
 color: white;
}

.color2{
    color: rgb(50, 243, 43);
}

.colorcards{
    color: black;
}

.card img{ /*imagen remera arg retro*/
    width: 100%; /*tamaño de la imagen*/
}

.imgcard2{
    width: 100%;
}

.card p{
    font-size: 10px;
}

footer{
    background-color: rgb(17, 17, 17);
}

.imag{
    width: 600px;
    margin-bottom: 30px;
    margin-top: 30px;

}

.titulo2 {
        font-family: "Bungee", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center; /*centrar el titulo*/
        font-size: 50px;
        color: rgb(50, 243, 43)
  }

h2{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.titulosnuevos{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    margin-bottom: 15px;
    margin-top: 20px;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}

h4{
    margin-top: 30px;
}

.contenedor_limite_2{
    background-color: rgb(17, 17, 17);
    margin: 0% auto;
    max-width: 980px;
    padding: 25px;
    text-align: center;
    border: 1px solid;
   border-radius: 25px;
    

}

.padre {
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;


}

/*grilla*/
.parent {
    display: grid;
    margin: 0% auto;
    max-width: 800px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 20px; /*separa*/
}
    
  
  
    .div1 { 
        grid-area: 1 / 1 / 2 / 3; 
    }
    .div1 img{
        width: 100%;
        margin-top: 60px;
        
    }

    .div2 { 
        grid-area: 2 / 1 / 3 / 2;
     }
.div2 img{
    width: 100%;
}

    .div3 { 
        grid-area: 2 / 2 / 3 / 3;
     }
     .div3 img{
        width: 100%;
        margin-bottom: 60px;
    
     }





@media screen and (max-width: 500px) { 
    header {
        flex-direction: column;
        align-items: start;
    }
}